@charset "utf-8";
/* HTML */
body {
	background-color: #CCC;
	color: #000;
        font-family: Verdana, Geneva, sans-serif;
}

a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #0CF;
}
a:active {
	text-decoration: none;
	color: #0CF;
}

/* Menu buttons */
.blue_button {
    color: #FFF;
    background-color: #0099CC;
    padding: 5px;
}

.blue_button a {
    text-decoration: none;
    color: #FFF;
}

.black_button td{
    color: #FFF;
    background-color: #000;
    padding: 5px;

}

.black_button a{
    text-decoration: none;
    color: #FFF;
}

/* Headers */
.text_header_white {
	color: #FFF;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
        padding: 5px;
}
.text_header_black {
	color: #000000;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 14px;
}
.text_normal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000;
}


 
.small-text {
	font-size: small;
}
.boldnumber {
	font-weight: bold;
}
/** START :: OVERVIEW **/
.tableoverview {
	border: 1px solid #ccc;
	width: 100%
}

.tdoverview {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

.thoverview {
        font: 11px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
        color: #FFF;
	text-align: left;
}

.odd {
	background: #DDEFFF;
        border: 0;
}

.even {
	background: #ffffff;
        border: 1;
}

/** START :: getSamples **/
.fs_odd {
    background-color: #00FF00;
}

.fs_even {
    background-color: #0000FF;
}

.fs_th {
    font-weight: bold;
}