@charset "utf-8";
/* HTML */
body {
	background-color: #CCC;
	color: #000;
        font-family: Verdana, Geneva, sans-serif;
        margin: 0px;
        padding: 0px;
}

a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #0CF;
}
a:active {
	text-decoration: none;
	color: #0CF;
}

a img {
    border: 0;
}

/* GSCF Bar */
.gscf_bar {
    text-align: center;
    vertical-align: top;
    background: url('./images/tab_m.png');
    background-position: -19px -19px;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    height: 23px;
}

.gscf_bar a {
    color: #15ADFF;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.gscf_bar a:hover {
	color: #FFF;
}

/* Menu buttons */
.blue_button {
    color: #FFF;
    background-color: #0099CC;
    padding: 5px;
}

.blue_button a {
    text-decoration: none;
    color: #FFF;
}

.black_button td{
    color: #FFF;
    background-color: #000;
    padding: 5px;

}

.black_button a{
    text-decoration: none;
    color: #FFF;
}

/* Headers */
.text_header_white {
	color: #FFF;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
        padding: 5px;
}
.text_header_black {
	color: #000000;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 14px;
}
.text_normal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000;
}
 
.small-text {
	font-size: small;
}
.boldnumber {
	font-weight: bold;
}

/** START :: OVERVIEW **/
.tableoverview {
	border: 1px solid #ccc;
	width: 100%
}

.tdoverview {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

.tdoverview a{
	font: 11px verdana, arial, helvetica, sans-serif;
}

.tdoverviewdetails {
        border-style:solid;
        border-width:0px 0px 10px 10px;
        border-color: #FFF;
        background-color: #CCC;
        padding: 5px;
}

.thoverview {
        font: 11px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
        color: #FFF;
	text-align: left;
}

.odd {
	background: #DDEFFF;
        border: 0px;
}

.even {
	background: #ffffff;
        border: 1px;
}

.overviewdet {
        font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 17px;
	padding: 2px 6px;
        color: #000;
	text-align: left;
        width: 100%;
}

.overviewdet th{
	font-weight: bold;
        padding-bottom: 10px;
}

/** START :: getSamples **/
.fs_th {
    font-weight: bold;
}

.fs_fontsize {
    font-size: 8pt;
}

.fs_fontsize a {
    font-size: 8pt;
}